.background {
    background: #1A1A1A;
    color: rgba(255, 255, 255, 0.87);
}

.gradient--background {
    width: 577.308px;
    height: 244.52px;
    position: absolute;
    transform: rotate(134.23deg);

    border-radius: 577.308px;
    opacity: 0.63;
    background: linear-gradient(271deg, #43116A 36.61%, #0A1832 106.23%);
    filter: blur(74px);

    top: 50px;
}

.title {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 1rem;
    z-index: 1;
}

.title p {
    color: #FFF;
    text-align: center;
    
    font-family: Circular Std;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px; /* 100% */
}

.hero--text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lato, Calibri, Sans-serif;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: 78px; /* 114.706% */

    margin-top: 44px;
    margin-bottom: 1rem;
    margin-left: 1rem;

    z-index: 1;
}

.hero--text span {
    font-weight: 600;
}

.hero--desc {
    margin-left: 1rem;
    color: #B9C1BE;

    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 26px; /* 162.5% */

    z-index: 1;
}

.social--buttons {
    display: flex;
    gap: 22px;
    margin-top: 38px;
}

.social--buttons button {
    background: transparent;
    border: 1px solid #A8B0AF;
    border-radius: 50%;
    padding: 6px;
    aspect-ratio: 1;
}

.social--buttons button:hover {
    transform: scale(1.3);
    transition: ease-in-out 0.2s;
}
